.card{
    width: 350px;
    color: black;
    text-align: center;
    border: 2px solid black;
    margin:45px 15px ;
    padding: 10px;
    position: relative;
    border-radius: 20px;
}
.card img{
    width: 80%;
    border-radius: 10px;
    
}
.card p{
    margin-top: 20px;
}
/* .cardContainer{
    display: flex;
    justify-content: center;
} */
.btn{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;

}
.btn:hover{
    background-color: #e73fd1;;
}
.span{
    color: red;
    position: absolute;
    right: 36px;
    top: 7px;
    opacity: 0;
    
    
}
.cardContainer{
    display: flex;
}
.card.active{
    background-color: rgb(221 211 211);
}
.active .span{
    transition: ease-out 0.3s;
    
    opacity: 1;

}