*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.appcard{
  display: flex;
  justify-content: center;
}
.favourimg{
  width: 278px;

  border-radius: 10px;
}
.favour{
  margin-top: 20px;
  height: 400px;
 
}