*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.appcard{
  display: flex;
  justify-content: center;
}
.favourimg{
  width: 278px;

  border-radius: 10px;
}
.favour{
  margin-top: 20px;
  height: 400px;
  position: relative;
  
 
}
.fav{
  position: relative;
}

.far{
  position: absolute;
  right: 10px;
  top: 10px;
  color: aliceblue;
}
.far:hover{
  color: rgb(211, 40, 69);
}

